.contactoMain{
    .contactoH1{
        padding-top: 20px;
        font-family: $francois;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: #060047;
        text-align: center;
    }
}